@model Category

<div class="">
    <h2 class="">@(Model.CategoryId == 0 ? "新增" : "刪除")商品分類</h2>
    <form class="py-3" method="post">
        <input asp-for="CategoryId" hidden />
        <input asp-for="Timeset" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" hidden />
        <div class="form-group mb-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-fw m-3">確認</button>
            <a asp-area="BasicInformation" asp-controller="Category" asp-action="Index" class="btn btn-secondary">取消</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}