@model List<Inventory>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="card-title">商品庫存</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="Purchase" asp-controller="Inventory" asp-action="Upsert" class="btn btn-inverse-primary btn-fw">新增商品庫存</a>
            </div>
        </div>

        <div class="table-responsive py-3">
            <table class="table table-bordered" id="tblData">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>商品名稱</th>
                        <th>倉庫名稱</th>
                        <th>倉庫架位</th>
                        <th>商品庫存數量</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/purchase/inventory.js"></script>
}
