@model PurchasingOrderVM

<div class="card-body">
    <h2 class="card-title">@(Model.PurchasingOrder.PurchasingOrderId == 0 ? "新增" : "修改")進貨單</h2>
    <form class="py-3" method="post">
        <input asp-for="PurchasingOrder.PurchasingOrderId" hidden />
        <input asp-for="PurchasingOrder.PurchasingOrderCode" hidden />
        <input asp-for="PurchasingOrder.TimeSet" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" hidden />
        @if (Model.PurchasingOrder.PurchasingOrderId != 0)
        {
            <div class="form-group">
                <label asp-for="PurchasingOrder.PurchasingOrderCode"></label>
                <input asp-for="PurchasingOrder.PurchasingOrderCode" type="number" class="form-control" disabled />
                <span asp-validation-for="PurchasingOrder.PurchasingOrderCode" class="text-danger"></span>
            </div>
        }
        <div class="form-group">
            <label asp-for="PurchasingOrder.SupplierId"></label>
            <select asp-for="PurchasingOrder.SupplierId" asp-items="@Model.SupplierList" class="form-select">
                <option disabled selected>請選擇供應商</option>
            </select>
            <span asp-validation-for="PurchasingOrder.SupplierId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchasingOrder.SupplierPurchaseId"></label>
            <input asp-for="PurchasingOrder.SupplierPurchaseId" type="text" class="form-control" placeholder="" />
            <span asp-validation-for="PurchasingOrder.SupplierPurchaseId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchasingOrder.PurchaseDate"></label>
            <input asp-for="PurchasingOrder.PurchaseDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="PurchasingOrder.PurchaseDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchasingOrder.PurchaseNote"></label>
            <textarea asp-for="PurchasingOrder.PurchaseNote" type="text" class="form-control" ></textarea>
            <span asp-validation-for="PurchasingOrder.PurchaseNote" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchasingOrder.PurchaseTotalPrice"></label>
            <input asp-for="PurchasingOrder.PurchaseTotalPrice" type="number" class="form-control" placeholder="" />
            <span asp-validation-for="PurchasingOrder.PurchaseTotalPrice" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-fw m-3">確認</button>
            <a asp-area="Purchase" asp-controller="Stock" asp-action="Index" class="btn btn-light btn-fw m-3">取消</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}