@model List<PurchaseOrder>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="card-title">商品進貨單</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="Purchase" asp-controller="PurchaseOrder" asp-action="Upsert" class="btn btn-inverse-primary btn-fw">新增商品進貨單</a>
            </div>
        </div>

        <div class="table-responsive py-3">
            <table class="table table-bordered" id="tblData">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>進貨單序號</th>
                        <th>進貨日期</th>
                        <th>進貨總金額</th>
                        <th>進貨廠商名稱</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/purchase/purchaseOrder.js"></script>
}
