@model List<PurchaseDetail>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="card-title">商品進貨單</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="Purchase" asp-controller="PurchaseDetail" asp-action="Upsert" class="btn btn-inverse-primary btn-fw">商品進貨明細</a>
            </div>
        </div>

        <div class="table-responsive py-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>商品名稱</th>
                        <th>進貨成本</th>
                        <th>數量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.OrderBy(u => u.PurchaseDetailId))
                    {
                        <tr>
                            <td></td>
                            <td>@detail.ProductId</td>
                            <td>@detail.Cost</td>
                            <td>@detail.Quantity</td>
                            <td>@detail.TotalPrice</td>
                            <td>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
