@model List<Supplier>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="card-title"供應商清單></h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="" asp-controller="Supplier" asp-action="Upsert" class="btn btn-inverse-primary btn-fw">新增供應商</a>
            </div>
        </div>

        <div class="table-responsive py-3">
            <table class="table table-bordered" id="tblData">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>供應商名稱</th>
                        <th>統一編號</th>
                        <th>聯絡人</th>
                        <th>聯絡人電話</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    
}